/. خطاب للمقيمين 3.docx
/222222222222222222222222222222222222222222222222222222222222222.pdf
/ABDUL JAWWAD KHAN MOHAMMED.pdf
/Assignment 5-ch.4- info372.pdf
/Assignment 6-ch.5- info372.pdf
/Assignment-ETHICS 431  shorouq mubarak.docx
/Authorized Company Contacts.pdf
/Authorized Contact Person of KIC PDF.pdf
/Bakkah Grad Project ch(1 , 2 and 3  FIENAL.docx
/Bakkah Grad Project ch(1 ^0 2^0 3 and 4 )معتمد.docx
/BAKKAH Presentation (1) (2).pptx
/BAKKAH Presentation FAINAL.pptx
/c.v ngha.docx
/Certificate (5) ....pdf
/DELIVERY DATE  CH 2.docx
/desktop.ini
/Excel.lnk
/fotos
/GitHub Desktop.lnk
/Grad Project.docx
/INFO342Assignment 4-ch4-requirement.pdf
/INFO372-COMP444-Assignment 7-ch.5 Scope (3).docx
/Kashed Agreement (الاصلية).docx
/KIC Authorized Contact Personnels ......pdf
/KIC Authorized Contact Personnels ....pdf مصدق.pdf
/KIC Owner Document.pdf
/KIC Owner Document.pdf مصدق.pdf
/Lab-INFO331Assignment -DDB shoroug.docx
/Maram Mubarak Bnayah  - CV.pdf
/OneNote.lnk
/Photo (1).pdf
/PowerPoint.lnk
/Publisher.lnk
/Reverso.lnk
/Rosma Brochure - Copy.docx
/Shorouq Mubarak Bnayah - EN.pdf
/Skype.lnk
/System Interfaces.pptx
/Videos
/Visual Studio Code.lnk
/Word.lnk
/Zoom.lnk
/الاتفاقية مترجمة للعربي.docx
/الشخص 1 - Edge.lnk
/المقيمين النشطين  2 - Copy (6).xlsx
/اوراق بابا
/بيان قضايا مدار الإحتراف 20220801.xlsx
/تجديد السجل التجاري.pdf
/حوالات البكستانيين.xlsx
/خطاب للمقيمين 1.docx
/خطاب للمقيمين 2.docx
/خطاب للمقيمين 4.docx
/خطاب للمقيمين 5.docx
/خطاب للمقيمين شهر ابريل (1).docx
/خطاب للمقيمين شهر ابريل (2).docx
/خطة وتقرير متابعة الأعمال.docx
/شعار مدار الاحتراف 1111.jpeg
/صورة السجاد.jpg
/صورة شعار الجامعة.png
/فاتورة ضريبة القيمة المضافة للسجل الاساسي.pdf
/كشف جساب شركة كاشد 2023 EXCEL.xlsx
/كشف حساب لشركة كاشد 2023 PDF.pdf
/مجموعة معايير المراجعة الدولية.pdf
/مدار الاحتراف صورة.jpg
/مرام مادة المراجعة
/مصاريـــــــــــف جواد  كاشد..docx
/مصاريـــــــــــف مدار الاحتراف (PCC).docx
/مصاريف احمد عجمي الكاملة (1).xlsx
/واجب شروق.docx